doctype html
head
  title Trac
  |     
  meta(charset='utf-8')
  |     
  meta(name='viewport', content='width=device-width, initial-scale=1')
  |     
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  |     
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  |     
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  |     
  style.
    .jumbotron {
    background-color: #4F80F6;
    color: #fff;
    padding: 100px 25px;
    }
    .container-fluid {
    padding: 60px 50px;
    }
.jumbotron.text-center
  h1 Oops!!
  |         
  p There was an error in the search query..
  |      
  br  
  a.btn.btn-info(href="http://127.0.0.1:8080/", role="button") Home
